################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tug-scripts/TugeScripts/.vs/TugeScripts.slnx/FileContentIndex/b061be59-0876-4bf8-833e-3ae691d895e9.vsidx
/tug-scripts/TugeScripts/.vs/TugeScripts.slnx/FileContentIndex/2eb6a21b-8da6-40ba-a0e2-da243817fb11.vsidx
*.vsidx
